doctype html
html
  head
    title Lunch på Chalmers
    link(href="static/style.css", rel="stylesheet")
    link(href="static/favicon.png", rel="icon", type="image/png")
    meta(name="viewport", content="width=device-width")
  body
    header
      h1= "Vecka " + currentWeek
      select(id="day")
        each day, index in ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag"]
          if index == selectedDay
            option(value=index, selected="selected")= day
          else
            option(value=index)= day
    ul
      each restaurant in data
        li(class="restaurant")
          h3= restaurant.name
          if restaurant.items.length === 0
            if restaurant.error
              i= restaurant.error
            else
              i Ingen lunch
          else
            ul
              each food in restaurant.items
                li= food
    footer
      div= "Uppdaterad för " + lastFetch + " sedan"
      a(href="/refresh")= "Tvinga omladdning av menyer"
      a(href="https://github.com/nikteg/chalmersfood")= "Källkod"
  script(src="static/main.js")
